/* drifter_retouch.css */
html {
  width: 1500px;
  height: 700px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas: "span hd hd"
    "span nav main";
}

#main {
  position: relative;
  padding: 10px;
  transition: .5s;
}

body {
  position: relative;
  top: 100px;
  width: 1500px;
}

.content {
  padding: 0;
  grid-area: main;
}

/* Banner */
.banner {
  z-index: 1;
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  float: left;
  padding: 0px;
  border: 1px solid transparent;
  border-radius: 1px;
  background-color: black;
  vertical-align: top;
  align-items: flex-end;
  flex-flow: nowrap row;
  grid-area: hd;
}

h2 {
  justify-content: space-between;
}

.name a {
  position: relative;
  left: 100px;
  width: 500px;
  float: left;
  color: white;
  text-align: left;
  align-self: center;
  font-family: "Montserrat",
    sans-serif;
  font-size: 40px;
  font-weight: normal;
  letter-spacing: -2px;
  transition: all linear 0.5s;
}

.name a:hover {
  color: #ff6666;
  overflow: none;
  font-size: 40px;
  letter-spacing: -1px;
  /**
  * text stroke animation -webkit-text-stroke: .1px #fff2e6;
  * -webkit-background-clip: text; -webkit-text-fill-color: transparent;
  */
}

a {
  color: #fff2e6;
  text-decoration: none;
}

ul {
  display: block;
  position: absolute;
  bottom: 250px;
  padding-left: 50px;
  color: #ffffff;
  font-family: "Montserrat",
    sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 2em;
  letter-spacing: -1px;
  list-style: none;
}

li:first-child {
  font-size: 18px;
}

li:last-child {
  font-style: italic;
}

#linkedin, #blog {
  display: inline-block;
  font-family: "Oxygen", sans-serif;
  font-size: 22px;
  text-transform: lowercase;
  right: -850px;
  padding-left: 15px;
  padding-bottom: 10px;
  width: 50px;
}

#linkedin {font-size: 36px;
top: 15px;}


.rightlinks {
  position: relative;
}

.rightlinks a:hover {
  color: maroon;
}
/* Nav */
span {
  z-index: 2;
  position: fixed;
  top: 102px;
  left: 0px;
  width: 80px;
  height: 100%;
  border: 1px solid #ff6666;
  background: #ff6666;
  box-shadow: 0px 1px 5px lightgray;
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
  line-height: 750px;
}

.sidenav {
  z-index: 7;
  position: fixed;
  top: 100px;
  left: 0;
  width: 0;
  height: 100%;
  padding-top: 50px;
  overflow-x: hidden;
  background-color: black;
  grid-area: nav;
  transition: 0.5s;
}

.sidenav a {
  display: block;
  padding-left: 50px;
  color: #ff6666;
  text-decoration: none;
  font-family: "Oxygen",
    sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 2em;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
  transition: all ease-in-out 1s;
}

.sidenav .closebtn {
  position: absolute;
  top: 25px;
  right: 25px;
  margin-left: 50px;
  font-size: 25px;
}

a.otherworks {
  display: none;
}

/* Slideshow */
.retouchContainer {
  height: 800px;
  overflow-x: scroll;
  overflow-y: scroll;
  width: 1800px;
  display: flex;
  flex: column nowrap;
  align-items: flex-start;
  justify-content: center;
}

.retouchAlign {
  display: block;
}

.myRetouchSlides {
  max-height: 600px;
  height: auto;
  max-width: 600px;
  width: auto;
  object-fit: contain;
  position: relative;
}

.myRetouchSlides:nth-child(1), .myRetouchSlides:nth-child(2) {
  width: 300px;
  height: 500px;
  object-fit: contain;
  margin-bottom: -25px
}

.myRetouchSlides, p {
  top: 75px;
  left: 0;
  font-family: "Noto Serif TC", sans-serif;
  font-size: 14px;
  position: relative;
  font-style: italic;
}

p {
  text-align: center;
  width: 650px;
}

#tablet+p {
  top: 75px;
  left: 0;
  font-family: "Noto Serif TC", sans-serif;
  font-size: 14px;
  font-style: italic;
  color: black;
  position: relative;
  text-align: center;
}

#tablet {
  max-height: 800px;
  height: auto;
  max-width: 600px;
  width: auto;
  object-fit: contain;
}

/* Credits */
#credits {
  position: absolute;
  bottom: 150px;
  padding-left: 50px;
  color: gray;
  text-align: justify;
  font-family: "Oxygen",
    sans-serif;
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

/* Mobile Horizontal*/
@media only screen and (max-width : 800px) {
  body {
    width: auto;
    max-width: 600px;
  }

  .wrapper {
    display: flex;
  }

  .content {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  /* Banner Name and Links Section */
  .banner {
    width: 800px;
    height: 35px;
    padding: 0;
    margin: 0;
  }

  #linkedin {
    display:;
    position: relative;
    top: 28px;
    right: -70px;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
  }

  .name a {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 2px;
    text-align: left;
    line-height: 0em;
    left: 65px;
    color: white;
    background-color: transparent;
  }
.name a:hover {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}
  a {
    text-decoration: none;
  }

  /* Mobile Nav */
  span {
    z-index: 2;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    border: 1px solid #ff6666;
    background: #ff6666;
    box-shadow: 0px 1px 5px black;
    text-align: center;
    font-size: 25px;
    line-height: 1.5em;
  }

  .sidenav {
    z-index: 7;
    position: fixed;
    top: 50px;
    left: 0px;
    width: 0;
    height: 100%;
    margin: 0;
    padding-top: 10px;
    background-color: black;
  }

  .sidenav a {
    display: block;
    padding-top: 10px;
    padding-left: 50px;
    color: #ff6666;
    text-decoration: none;
    font-family: "Oxygen",
      sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 2em;
    transition: 0.3s;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    margin-left: 50px;
    font-size: 16px;
  }

  a.otherworks {
    display: none;
  }

  /* Mobile Slideshow */
  .retouchContainer {
    height: 600px;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 800px;
  }

  .retouchAlign {
    display: block;
  }

  .myRetouchSlides {
    max-width: 600px;
    max-height: 600px;
    width: auto;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
  }

  .myRetouchSlides, p {
    top: 5px;
    left: 5%;
    font-family: "Noto Serif TC", sans-serif;
    font-size: 14px;
    position: relative;
    font-style: italic;
  }

  p {
    text-align: center;
    width: 600px;
  }

  #tablet+p {
    position: relative;
    top: 5px;
    left: 5%;
  }

  #tablet {
    width: 600px;
    height: 900px;
    object-fit: contain;
    top: 0px;
    left: 5%;
  }

  /* Mobile Credits */
  #credits {
    display: hidden;
    display: block;
    position: fixed;
    bottom: 0;
    width: auto;
    min-width: 400px;
    max-width: 786px;
    height: 25px;
    margin: 4px;
    color: transparent;
  }
}

/* Mobile Vertical*/
@media only screen and (max-width : 500px) {
  body {
    width: auto;
    max-width: 500px;
  }

  .wrapper {
    display: flex;
  }

  .content {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  /* Banner Name and Links Section */
  .banner {
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
  }

  #linkedin {
    position: relative;
    top: 30px;
    right: 150px;
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
  }

  .name a {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 2px;
    text-align: left;
    line-height: .5em;
    left: 65px;
    color: white;
    background-color: transparent;
  }

  a {
    text-decoration: none;
  }

  /* Mobile Nav */
  span {
    z-index: 2;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    border: 1px solid #ff6666;
    background: #ff6666;
    box-shadow: 0px 1px 5px black;
    text-align: center;
    font-size: 25px;
    line-height: 1.5em;
  }

  .sidenav {
    z-index: 7;
    position: fixed;
    top: 50px;
    left: 0px;
    width: 0;
    height: 100%;
    margin: 0;
    padding-top: 10px;
    background-color: black;
  }

  .sidenav a {
    display: block;
    padding-top: 10px;
    padding-left: 50px;
    color: #ff6666;
    text-decoration: none;
    font-family: "Oxygen",
      sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 2em;
    transition: 0.3s;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    margin-left: 50px;
    font-size: 16px;
  }

  a.otherworks {
    display: none;
  }

  /* Mobile Slideshow */
  .retouchContainer {
    height: 700px;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 400px;
  }

  .retouchAlign {
    display: block;
  }

  .myRetouchSlides {
    max-width: 350px;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
  }

  .myRetouchSlides, p {
    top: 5px;
    left: 5%;
    font-family: "Noto Serif TC", sans-serif;
    font-size: 14px;
    position: relative;
    font-style: italic;
  }

  p {
    text-align: center;
    width: 350px;
  }

  #tablet {
    width: 350px;
    height: 600px;
    object-fit: contain;
    top: 0px;
    left: 5%;
  }

  /* Mobile Credits */
  #credits {
    display: hidden;
    display: block;
    position: fixed;
    bottom: 0;
    width: auto;
    min-width: 400px;
    max-width: 786px;
    height: 25px;
    margin: 4px;
    color: transparent;
  }
}
